* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
   background-color: green;
  
}

#card {
    width: 25rem;
    height: 35rem;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;   
    border-radius: 1rem; 
    margin: 5rem auto;

}

#card-header {
    text-align: left;
    font-size: 75px;
}


#card-valor{
    text-align: center;
    font-size: 75px;
}

#card-footer {
    text-align: right;
    font-size: 75px;
}

#nueva-carta {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 1rem ;
    background-color: white;
    border-radius: 2rem;
   
}